@charset "ISO-8859-1";
div.centrar_tabla{
	text-align: center;
}
div.centrar_tabla table {
margin: 0 auto;
text-align: left;
background-color:#FFC;
}

td{
	text-align: center;
	
}
th{
	text-align: center;
	color:#F90;
}