.bordes{
    border: 2px solid black;
    border-collapse: collapse; /* une todos los bordes de la tabla*/
    margin: 40px auto;
    background-color: yellow;
}
.bordes td, .bordes tr{
 border: 1px solid black; /* esto agrega los bordes a las celdas */
    padding: 5px;
}
.centrado{
    text-align: center;
}